.hhh{
   border: 2px solid #333;
}

.block-style{
   min-height: 100px;
	padding: 48px 48px 0 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	color: black;
}

.cta-colClassName{
   position: relative;
}

.beth-dos-dont__heading{
   position: absolute;
}

.beth-dos-dont__para{
   position: relative;
}

.beth-dos-dont__btn{
   position: relative;
}