.home-page-wrap {
	.entry-content {

		> * {
			// margin: $margin-top auto $margin-bottom auto;
         padding-block: $padding-block;
		}

		> *:not(.alignfull) {
			// max-width: $site_width;
			padding-inline: $padding-inline;
		}

		> .alignwide {
			max-width: $wide_width;
		}
	}
}
