// @import "../gutenberg_block";

.gallery-carousel-wrapper {
    position: relative;
    overflow: hidden;

    .slick-controls {
        margin-top: 1rem;
    }
    .slick-control {
      //   @include color(color, 'body');
      color: red;

        &:hover {
            // @include color(color, 'accent-primary');
            color: blue
        }
    }
}

.gallery-carousel {
    .gallery-carousel-slide-img {
      //   @extend %transition;
        position: relative;
        height: auto;
        aspect-ratio: 16 / 9;
        max-height: calc(100vh - 6rem);
      //   margin: 0 1rem;
      //   width: calc(100vw - 16rem);
        overflow: hidden;
        box-shadow: 4px 8px 24px rgba(red, 0.1);
        padding: 0 30px;

      //   @include breakpoint(M) {
      //       width: calc(100vw - 10rem);
      //   }
      //   @include breakpoint(S) {
      //       height: 24rem;
      //   }
      //   @include breakpoint(XS) {
      //       height: 14rem;
      //       width: calc(100vw - 4rem);
      //       margin: 0 0.5rem;
      //   }
        img {
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            // @extend %transition;
            background: linear-gradient(0deg, rgba(#000, 0.6), rgba(#000, 0.6));
            background-blend-mode: multiply, normal;
        }
    }
    .caption {
      //   @include color(color, 'body-50');
        width: 100%;
        text-align: center;
        z-index: 3;
        opacity: 0;
      //   @extend %nav-transition;
        transform: translateY(-0.5rem);
        margin-top: 1.5rem;
    }
    .gallery-carousel-slide {
        &.slick-active,
        &[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
            .gallery-carousel-slide-img {
                &:before {
                    opacity: 0;
                }
            }
            .caption {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

}

// .gallery-carousel-control {
//     position: absolute;
//     top: 0;
//     height: 35rem;
//     width: 8rem;
//     z-index: 1;

//     @include breakpoint(M) {
//         width: 5rem;
//     }
//     @include breakpoint(S) {
//         height: 29rem;
//     }
//     @include breakpoint(XS) {
//         display: none;
//     }
//     &.gallery-carousel-prev {
//         left: 0;
//         cursor: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="72" height="72" rx="36" transform="matrix(-1 0 0 1 74 2)" fill="white"/><path d="M41.959 30.0833L34.0423 37.9999L41.959 45.9166" stroke="%23092F3C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><rect width="72" height="72" rx="36" transform="matrix(-1 0 0 1 74 2)" stroke="%23092F3C" stroke-width="2.5"/></svg>') 25 25, auto;
//     }
//     &.gallery-carousel-next {
//         right: 0;
//         cursor: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="2" width="72" height="72" rx="36" fill="white"/><path d="M34.041 30.0833L41.9577 37.9999L34.041 45.9166" stroke="%23092F3C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><rect x="2" y="2" width="72" height="72" rx="36" stroke="%23092F3C" stroke-width="2.5"/></svg>') 25 25, auto;
//     }
// }
